{% extends "::base.html.twig" %}
{% block style %}
<style>
    .input-large{
        width: 100%;
    }
    .td-label{
        width:190px;
        vertical-align: top;
        padding-top: 3px;
    }
</style>
{% endblock style %}

{% block menu %}
    {% include '::menu_registro.html.twig' %}
{% endblock menu %}

{% block content %}
<div class="row">
    <div class="span3">	</div>				  
    <div class="span6">					  
        <h2 class="short"><strong>Inicie sesión para votar</strong></h2>
        <br/><br/>
        <form action="{{ path('login') }}" method='POST' {{ form_enctype(form) }} id="contactForm" type="post">
            {{ form_widget(form._token) }}
            {{ form_errors(form) }}
            
            <table border="0" style="width:100%;">
                <tr>
                    <td class="td-label">Correo electrónico</td>
                    <td>{{ form_widget(form.user, {'attr':{'class':'input-large'} }) }}</td>
                </tr>
                <tr>
                    <td class="td-label">Contraseña</td>
                    <td>{{ form_widget(form.pass, {'attr':{'class':'input-large'} }) }}</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <input type="submit" class="btn btn-primary btn-large" value="Iniciar"/>
                    </td>
                </tr>
            </table>
                
        </form>
    </div>
</div>
{% endblock content %}