{% extends "::base.html.twig" %}

{% block menu %}
    {% if sess_user.usuarioRol is defined %}
        {% if sess_user.usuarioRol == 'user' %}
            {% include '::menu_votacion.html.twig' %}
        {% elseif sess_user.usuarioRol == 'user' %}
            {% include '::menu_admin.html.twig' %}
        {% endif %}
    {% else %}    
        {% include '::menu_registro.html.twig' %}
    {% endif %}
{% endblock menu %}

{% block body %}
    <div class="row">
        <ul class="simple-post-list">
            {% for candidato in candidatos%}
                <li style='padding-top:0px;border-bottom:0px' class='span12'>
                    <div class="post-image">
                        <div class="thumbnail">
                            {% set img = (candidato.candidatoImagen) ? candidato.candidatoImagen : 'ImgCandidatos/imgDefault.jpg'%}
                            <img src="{{ asset(img) }}" alt="" style='width:75px;height:100px;'>
                        </div>
                    </div>
                    <div class="post-info" style='padding-top:20px;text-align:left;'>
                        <h5 class='shorter'> {{ candidato.candidatoNombre }}</h5>
                        <div class="post-meta">
                            Votos: {{ candidato.votaciones }}<br>
                            {% set porcentaje = (totalVotos > 0) ? (candidato.votaciones / totalVotos) * 100 : '0'  %}
                            <div class="span6">
                                <div class="progress">
                                    <div class="bar" style="width: {{ porcentaje ~ '%;' }}"></div>
                                </div>
                            </div>
                            <div class="span2"> {{ porcentaje|number_format('1', ',') }}% </div>
                        </div>
                    </div>
                </li>
                <br>
            {% else %}
                <h5 class='shorter' style='text-align:center;'> No hay candidatos registrados</h5>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}